@page "/"

@*A simple landing page with a picture and a quick guide on how to use the site*@

<img src="/logo.png">
<h1>1. FC NÜRNBERG</h1>


Administrate your Players in the <a href="/playerdata">Players</a> page

<br />

Get an overview of your teams in the <a href="/teamsoverview">Teams</a> page